@import url(./vendor/fonts.css);

.page {
    background-color: #2A2C2F;
    width: 1280px;
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-style: normal;
    margin: 0;
    
}
/* for header, photogrid, cover1280, footer */
.section {
    width: 100vw;
    margin: 0 auto;
    padding: 0 48px;
    box-sizing: border-box;
}
.header {
    height: 52px;
    margin-top: 28px;
    margin-bottom: 56px;
    padding: 0px 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    width: 176px;
    height: 52px;
}
.header__lang-list {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.header__lang-links:first-of-type {
    margin-right: 18px;
}

.header__lang-link {
    color: #ffffff;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    text-decoration: none; 
}
.header__lang-link:hover {
    opacity: .7;
    transition: 1.1s;
}

.header__lang-link_active {
    text-decoration: underline;
}

.lead {
    width: 100vw;
    min-height: 1005px;
    padding: 56px 148px 0;
    margin: 0px;
    
}

.lead__title {
    margin: 0 auto;
    max-width: 720px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}

.lead__subtitle {
    margin: 32px auto 0px auto;
    max-width: 640px;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
}

.lead__image {
    display: block;
    margin: 64px auto 0 auto;
    width: 100%;
    object-fit: cover;
}

.lead__caption {
    margin: 8px 0 0;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.intro {
    max-width: 690px;  
    min-height: 429px;
    margin: 92px 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.intro__title {
    width: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #ffffff;
    margin: 0 0 40px 0;
}

.intro__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    margin: 0 0 33px 0;
}

.intro__list {
    list-style-type: none;
    max-width: 690px;
    margin: 0;
    padding: 0;
}

.intro__list-bold {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
}

.intro__list-item {
    font-weight: 400;
    color: #ffffff;
}

.photo-grid {
    width: 100%;
    padding: 92px 48px 12px 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.photo-grid__item {
    width: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.places {
    width: 100%;
    padding: 0px 148px;
}

.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    /* grid-template-rows: ; */
    grid-template-areas: 
    "title website"
    "image paragraphs";
    gap: 48px 40px;
    padding-top: 80px;
}

.place__title {
    grid-area: title;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    color: #ffffff;
    margin: 0;
}

.place__image {
    grid-area: image;
    max-width: 460px;
    max-height: 460px;
}

.place__website {
    align-self: end;
}

.place__url-heading {
    grid-area: website;
    color: #aaaaaa;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    margin: 0px 0px 12px 0px;
}

.place__link {
    grid-area: website;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
}

.place__link:hover {
    opacity: .8;
    transition: 1.1s;
}

.place__paragraph {
    grid-area: paragraph;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    max-width: 484px;
    margin: 0px 0px 26px 0px;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

.cover {
    padding: 92px 0px;
    width: 100%;
    height: 100%;
    max-width: 1184px;
}

.cover__background {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url(./russian-travel/images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-decoration: none;
    color: #ffffff;

    min-height: 740px;
}

.cover__background::before {
    content: "";
    display: block;
    background-color: #2a2c2f;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s linear;
}
.cover:hover .cover__background::before {
    opacity: 0.8;
}

.cover__title {
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto 32px;
    z-index: 2;
}

.cover__subtitle {
    max-width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto 0;
    z-index: 2;
}

.footer {
    width: 100%;
    max-height: 18px;
    margin-bottom: 24px;
    padding: 0px 48px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    
}

.footer__links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.footer__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-right: 18px;
    text-decoration: none;
    color: #ffffff;
}

.footer__link:hover {
    opacity: .7;
    transition: 1.1s;
}

.footer__copyright {
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
    margin: 0;
}

