.header {
    
    padding: 0 48px 0 48px;
    margin: 28px auto 56px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media (max-width: 1279px) {
    .header {
        margin: 28px auto 48px auto;
    }
}

@media (max-width: 1023px) {
    .header {
         
         padding: 0 24px 0 24px;
    }
}

@media (max-width: 767px) {
    .header {
        margin: 16px auto 48px auto;
        padding: 0 16px 0 16px;
    }
}

