.footer__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-right: 18px;
    text-decoration: none;
    color: #ffffff;
}

.footer__link:hover {
    opacity: .7;
    transition: 1.1s;
}

@media (max-width: 500px) {
    .footer__link {
        display: block;
        font-size: 24px;
        line-height: 24px;
        margin: 0px 0px 32px;
    }
    .footer__link:last-of-type {
        margin-bottom: 48px;
    }
    
}