.footer__links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

@media (max-width: 500px) {
    .footer__links {
        flex-direction: column;
        justify-content: space-between;
    }
    
}