.place__website {
    align-self: end;
}

@media (max-width: 680px) and (min-width: 426px) {
    .place__website {
        align-self: center;
    }
    
}
@media (max-width: 425px) {
    .place__website {
        padding-left: 16px;
        padding-right: 16px;
             
    }
    
}